.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.0rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}